<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactUs">
            <h2><span jhiTranslate="storeApp.contactUs.detail.title">Contact Us</span> {{ contactUs.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.contactUs.name">Name</span></dt>
                <dd>
                    <span>{{ contactUs.name }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.contactUs.email">Email</span></dt>
                <dd>
                    <span>{{ contactUs.email }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.contactUs.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ contactUs.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.contactUs.message">Message</span></dt>
                <dd>
                    <span>{{ contactUs.message }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-us', contactUs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
