<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="distributionStore">
            <h2><span jhiTranslate="storeApp.distributionStore.detail.title">Distribution Store</span> {{ distributionStore.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.distributionStore.name">Name</span></dt>
                <dd>
                    <span>{{ distributionStore.name }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.distributionStore.userId">User Id</span></dt>
                <dd>
                    <span>{{ distributionStore.userId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/distribution-store', distributionStore.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
