<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactions">
            <h2><span jhiTranslate="storeApp.transactions.detail.title">Transactions</span> {{ transactions.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.transactions.orderId">Order Id</span></dt>
                <dd>
                    <span>{{ transactions.orderId }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.transactions.amount">Amount</span></dt>
                <dd>
                    <span>{{ transactions.amount }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.transactions.transactionType">Transaction Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.TransactionType.' + transactions.transactionType }}">{{ transactions.transactionType }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.transactions.transactionUser">Transaction User</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.TransactionUser.' + transactions.transactionUser }}">{{ transactions.transactionUser }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.transactions.userId">User Id</span></dt>
                <dd>
                    <span>{{ transactions.userId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transactions', transactions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
