<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="faq">
            <h2><span jhiTranslate="storeApp.faq.detail.title">Faq</span> {{ faq.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.faq.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.FaqType.' + faq.type }}">{{ faq.type }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.faq.question">Question</span></dt>
                <dd>
                    <span>{{ faq.question }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.faq.answer">Answer</span></dt>
                <dd>
                    <span>{{ faq.answer }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.faq.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ faq.isActive }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/faq', faq.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
