<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="storeApp.order.detail.title">Order</span> {{ order.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.order.orderNo">Order No</span></dt>
                <dd>
                    <span>{{ order.orderNo }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.userId">User Id</span></dt>
                <dd>
                    <span>{{ order.userId }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.deliveryEmployeeId">Delivery Employee Id</span></dt>
                <dd>
                    <span>{{ order.deliveryEmployeeId }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.OrderStatus.' + order.status }}">{{ order.status }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.orderType">Order Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.OrderType.' + order.orderType }}">{{ order.orderType }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ order.isActive }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.shippingAddress">Shipping Address</span></dt>
                <dd>
                    <span>{{ order.shippingAddress }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.paidTime">Paid Time</span></dt>
                <dd>
                    <span>{{ order.paidTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.completeTime">Complete Time</span></dt>
                <dd>
                    <span>{{ order.completeTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.shippmentTime">Shippment Time</span></dt>
                <dd>
                    <span>{{ order.shippmentTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.deliveryTime">Delivery Time</span></dt>
                <dd>
                    <span>{{ order.deliveryTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.cancelTime">Cancel Time</span></dt>
                <dd>
                    <span>{{ order.cancelTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.dispatchTime">Dispatch Time</span></dt>
                <dd>
                    <span>{{ order.dispatchTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.rejectTime">Reject Time</span></dt>
                <dd>
                    <span>{{ order.rejectTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.acceptTime">Accept Time</span></dt>
                <dd>
                    <span>{{ order.acceptTime }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.note">Note</span></dt>
                <dd>
                    <span>{{ order.note }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.rejectNote">Reject Note</span></dt>
                <dd>
                    <span>{{ order.rejectNote }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.order.cancelNote">Cancel Note</span></dt>
                <dd>
                    <span>{{ order.cancelNote }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
