<div>
    <h2 id="page-heading">
        <span jhiTranslate="storeApp.order.home.title">Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="storeApp.order.home.createLabel">
            Create a new Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span jhiTranslate="storeApp.order.home.notFound">No orders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderNo"><span jhiTranslate="storeApp.order.orderNo">Order No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span jhiTranslate="storeApp.order.userId">User Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryEmployeeId"><span jhiTranslate="storeApp.order.deliveryEmployeeId">Delivery Employee Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="storeApp.order.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderType"><span jhiTranslate="storeApp.order.orderType">Order Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="storeApp.order.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shippingAddress"><span jhiTranslate="storeApp.order.shippingAddress">Shipping Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paidTime"><span jhiTranslate="storeApp.order.paidTime">Paid Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="completeTime"><span jhiTranslate="storeApp.order.completeTime">Complete Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shippmentTime"><span jhiTranslate="storeApp.order.shippmentTime">Shippment Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryTime"><span jhiTranslate="storeApp.order.deliveryTime">Delivery Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cancelTime"><span jhiTranslate="storeApp.order.cancelTime">Cancel Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dispatchTime"><span jhiTranslate="storeApp.order.dispatchTime">Dispatch Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rejectTime"><span jhiTranslate="storeApp.order.rejectTime">Reject Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acceptTime"><span jhiTranslate="storeApp.order.acceptTime">Accept Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="storeApp.order.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rejectNote"><span jhiTranslate="storeApp.order.rejectNote">Reject Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cancelNote"><span jhiTranslate="storeApp.order.cancelNote">Cancel Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a></td>
                    <td>{{ order.orderNo }}</td>
                    <td>{{ order.userId }}</td>
                    <td>{{ order.deliveryEmployeeId }}</td>
                    <td jhiTranslate="{{ 'storeApp.OrderStatus.' + order.status }}">{{ order.status }}</td>
                    <td jhiTranslate="{{ 'storeApp.OrderType.' + order.orderType }}">{{ order.orderType }}</td>
                    <td>{{ order.isActive }}</td>
                    <td>{{ order.shippingAddress }}</td>
                    <td>{{ order.paidTime | date:'medium' }}</td>
                    <td>{{ order.completeTime | date:'medium' }}</td>
                    <td>{{ order.shippmentTime | date:'medium' }}</td>
                    <td>{{ order.deliveryTime | date:'medium' }}</td>
                    <td>{{ order.cancelTime | date:'medium' }}</td>
                    <td>{{ order.dispatchTime | date:'medium' }}</td>
                    <td>{{ order.rejectTime | date:'medium' }}</td>
                    <td>{{ order.acceptTime | date:'medium' }}</td>
                    <td>{{ order.note }}</td>
                    <td>{{ order.rejectNote }}</td>
                    <td>{{ order.cancelNote }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(order)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orders && orders.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
