<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading" jhiTranslate="storeApp.product.home.createOrEditLabel">Create or edit a Product</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.productType" for="field_productType">Product Type</label>
                    <select class="form-control" name="productType" formControlName="productType" id="field_productType">
                        <option value="Regular">{{ 'storeApp.ProductType.Regular' | translate }}</option>
                        <option value="Bundle">{{ 'storeApp.ProductType.Bundle' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.productCategoryId" for="field_productCategoryId">Product Category Id</label>
                    <input type="text" class="form-control" name="productCategoryId" id="field_productCategoryId"
                           formControlName="productCategoryId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.productSize" for="field_productSize">Product Size</label>
                    <select class="form-control" name="productSize" formControlName="productSize" id="field_productSize">
                        <option value="Small">{{ 'storeApp.ProductSize.Small' | translate }}</option>
                        <option value="Medium">{{ 'storeApp.ProductSize.Medium' | translate }}</option>
                        <option value="Large">{{ 'storeApp.ProductSize.Large' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
