<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="storeApp.product.detail.title">Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.product.name">Name</span></dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.product.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.ProductType.' + product.productType }}">{{ product.productType }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.product.productCategoryId">Product Category Id</span></dt>
                <dd>
                    <span>{{ product.productCategoryId }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.product.price">Price</span></dt>
                <dd>
                    <span>{{ product.price }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.product.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ product.isActive }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.product.productSize">Product Size</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'storeApp.ProductSize.' + product.productSize }}">{{ product.productSize }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
